/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Dec 29, 2015, 8:32:06 PM
    Author     : rostomsahakian
*/
@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);
body{
    font-family: Montserrat, sans-serif !important;
}
.rock-top-banner{
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,e5e5e5+74 */
    background: #ffffff; /* Old browsers */
    background: -moz-linear-gradient(top,  #ffffff 0%, #e5e5e5 74%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  #ffffff 0%,#e5e5e5 74%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  #ffffff 0%,#e5e5e5 74%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e5e5e5',GradientType=0 ); /* IE6-9 */

}
.rock-top-banner ul li{
    height: 10px !important;
}
.rock-top-banner li a{
    min-height: 20px !important;
    font-family: Montserrat, sans-serif;
    font-size: 12px !important;
    font-weight: bold;
    color: #000 !important;
}
.rock-top-banner li a:hover{
    min-height: 20px !important;
    font-family: Montserrat, sans-serif;
    font-size: 12px !important;
    font-weight: bold;
    color: #3e3e3e !important;
}

.rock-nav-bar-container{
    width: 100%;
    margin: auto 0;
    background: #000;

}
.rock-mid-bar-container{
    margin-top: 70px !important; 
    min-height: 70px !important;
}
.rock-search-btn{
    background-color: #E21A2C !important;
}
.rock-search-btn input[type="submit"]{
    font-size: 13px;
    font-weight: bold;

}
.rock-breadcrumb a{
    font-size: 10px !important;

}

.rock-shopping-cart{
    margin-top: 10px !important;
}
.rock-shopping-cart a{

    color: #000;
    font-size: 13px;
}
.rock-main-container{
    min-height: 1000px !important;
    background-color: #fff;
    -webkit-box-shadow: 0px 0px 1px 0px rgba(50, 50, 50, 0.12);
    -moz-box-shadow:    0px 0px 1px 0px rgba(50, 50, 50, 0.12);
    box-shadow:         0px 0px 1px 0px rgba(50, 50, 50, 0.12);
}
.rock-home-carousel{
    padding: 5px;
}
.rock-background-color-manager{
    background-repeat:repeat;

}
.rock-home-side-list{
    background-color: #B81D22 !important;
    color: #fff !important;

}
.rock-item-image-holder{
    border: 1px solid #000;
    /*padding: 10px;*/
    margin-bottom: 10px;
    width:29%;
    margin-right: 10px;
    text-align: center;
    height: 345px;
    width: 220px;
    overflow: hidden;
    position: relative;

}
.rock-item-image-holder img{

    margin-left: auto;
    margin-right: auto;
    display: block;
    max-width: 100%;
    height: auto;

}
.rock-item-image-holder p {
    font-size: 12px;
    color: #fff !important;
    margin-top: 5px; 
}
.rock-item-captions{
    background-color: #000;
    height: 71px;
}

span.rollover {
	opacity: 1;
	-o-transition-duration: 1s;
	-moz-transition-duration: 1s;
	-webkit-transition: -webkit-transform 1s;
	background: #000;
	cursor: pointer;
	height: 346px;
	width: 347px;
	position: absolute;
	z-index: 10;
	opacity: 0;
        left: 0px;
        top: -70px;
}

span.rollover:hover {
	opacity: .7;
	-o-transition-duration: 1s;
	-moz-transition-duration: 1s;
	-webkit-transition: -webkit-transform 1s;
	-webkit-box-shadow: 0px 0px 4px #000;
	-moz-box-shadow: 0px 0px 4px #000;
	box-shadow: 0px 0px 4px #000;
}